/* style.css */
.card-section * {
  box-sizing: border-box;
}

.card-section body {
  background: hsl(265.3, 10%, 75%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.card-section .card {
  position: sticky;
  top: 0;
}

.card-section .card__inner {
  will-change: transform;
  background: white;
  border-radius: 14px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
  transform-origin: center top;
}

.card-section .cards {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(var(--cards-count), var(--card-height));
  gap: 40px 0;
}

.card-section .card__image-container {
  display: flex;
  width: 40%;
  flex-shrink: 0;
}

.card-section .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.card-section .card__content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.card-section .card__title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  color: #16263a;
}

.card-section .card__description {
  line-height: 1.4;
  font-size: 24px;
  color: #16263a;
}

.card-section .space {
  height: 90vh;
}

.card-section .space--small {
  height: 40vh;
}

@media (max-width: 600px) {
  .card-section .card__inner {
    flex-direction: column;
  }

  .card-section .card__image-container {
    width: 100%;
  }

  .card-section .card__image {
    aspect-ratio: 16 / 9;
  }

  .card-section .card__title {
    font-size: 32px;
  }

  .card-section .card__description {
    font-size: 16px;
  }

  .card-section .card__content {
    padding: 30px 20px;
  }
}