body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-noto-sans-tifinagh: "Noto Sans Tifinagh";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-base-9: 16.9px;
  --font-size-base-6: 16.6px;
  --font-size-mid: 17px;
  --font-size-lg-6: 18.6px;
  --font-size-25xl-8: 44.8px;
  --font-size-17xl: 36px;
  --font-size-8xl: 27px;
  --font-size-lg-4: 18.4px;
  --font-size-base-5: 16.5px;
  --font-size-29xl-8: 48.8px;
  --font-size-20xl: 39px;
  --font-size-10xl: 29px;
  --font-size-5xl-8: 24.8px;
  --font-size-xl: 20px;
  --font-size-5xl-7: 24.7px;
  --font-size-29xl-3: 48.3px;
  --font-size-14xl: 33px;
  --font-size-7xl: 26px;
  --font-size-3xl-1: 22.1px;
  --font-size-lg: 18px;
  --font-size-2xl-8: 21.8px;
  --font-size-9xl: 28px;
  --font-size-5xl: 24px;
  --font-size-base-7: 16.7px;
  --font-size-base-1: 15.1px;
  --font-size-28xl-5: 47.5px;
  --font-size-19xl: 38px;
  --font-size-14xl-8: 33.8px;
  --font-size-10xl-8: 29.8px;
  --font-size-base: 16px;
  --font-size-lgi: 19px;
  --font-size-base-4: 15.4px;
  --font-size-mini-7: 14.7px;
  --font-size-3xl: 22px;
  --font-size-28xl-7: 47.7px;
  --font-size-13xl: 32px;
  --font-size-42xl-4: 61.4px;
  --font-size-30xl: 49px;
  --font-size-18xl: 37px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #1e1515;
  --color-gray-200: #111011;
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(17, 16, 17, 0.4);
  --color-gray-500: rgba(17, 16, 17, 0.12);
  --color-gray-600: rgba(17, 16, 17, 0.1);
  --color-gray-700: rgba(17, 16, 17, 0.2);
  --color-gray-800: rgba(17, 16, 17, 0.6);
  --color-darkseagreen: #c1deaf;
  --color-darkgray-100: #94a1aa;
  --color-lightslategray-100: #987da5;
  --color-plum: #9d79ad;
  --color-darkslategray: #333;
  --color-mediumspringgreen-100: rgba(40, 215, 116, 0.1);
  --color-mediumspringgreen-200: rgba(40, 215, 116, 0.5);
  --color-whitesmoke: rgba(249, 248, 245, 0.8);

  /* Gaps */
  --gap-base: 16px;
  --gap-9xl: 28px;
  --gap-mini: 15px;
  --gap-6xs: 7px;
  --gap-7xs: 6px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-29xl: 48px;
  --gap-xl: 20px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-mid: 17px;
  --gap-8xs: 5px;
  --gap-77xl: 96px;
  --gap-4xl: 23px;
  --gap-11xl: 30px;
  --gap-15xl: 34px;
  --gap-22xl: 41px;
  --gap-21xl: 40px;
  --gap-sm: 14px;
  --gap-xs-5: 11.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-13xl: 32px;
  --padding-2xl: 21px;
  --padding-29xl: 48px;
  --padding-12xs-6: 0.6px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-11xs: 2px;
  --padding-mid-2: 17.2px;
  --padding-lg-8: 18.8px;
  --padding-38xl: 57px;
  --padding-9xl: 28px;
  --padding-101xl: 120px;
  --padding-59xl: 78px;
  --padding-32xl: 51px;
  --padding-45xl: 64px;
  --padding-12xs-1: 0.1px;
  --padding-12xs-7: 0.7px;
  --padding-31xl-1: 50.1px;
  --padding-14xl: 33px;
  --padding-7xs: 6px;
  --padding-lgi-4: 19.4px;
  --padding-12xs-9: 0.9px;
  --padding-12xs: 1px;
  --padding-47xl: 66px;
  --padding-61xl: 80px;
  --padding-3xl: 22px;
  --padding-85xl: 104px;
  --padding-49xl: 68px;
  --padding-112xl-1: 131.1px;
  --padding-54xl: 73px;
  --padding-8xl: 27px;
  --padding-smi: 13px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-4xl: 23px;
  --padding-mini: 15px;
  --padding-8xs-5: 4.5px;
  --padding-11xs-9: 1.9px;
  --padding-26xl: 45px;
  --padding-15xl: 34px;
  --padding-36xl: 55px;
  --padding-23xl: 42px;
  --padding-16xl: 35px;
  --padding-base: 16px;
  --padding-xs-5: 11.5px;
  --padding-2xs: 11px;
  --padding-2xs-1: 10.1px;
  --padding-3xs-1: 9.1px;
  --padding-lg: 18px;
  --padding-12xs-5: 0.5px;
  --padding-10xs-5: 2.5px;

  /* Border radiuses */
  --br-17xl: 36px;
  --br-99xl: 118px;
  --br-53xl: 72px;
  --br-95xl: 114px;
  --br-5xl: 24px;
  --br-45xl: 64px;
  --br-9xs: 4px;
  --br-180xl-4: 199.4px;
  --br-base-9: 16.9px;
  --br-6xl: 25px;
  --br-base: 16px;
  --br-5xs: 8px;
}
